body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color:black;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
}

.header {
  float: left;
  height: 10px;
  width: 1000px;
  background: #000000;
}

.navigation {
  width: max-content;
  overflow: hidden;
  background-color: #000000;
}

.navigation a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  background-color: gray;
  color: antiquewhite;
}

.content {
  float: left;
  background: #FFFFFF;
  width: 850px;
}

.leftcolumn {
  background: #728585;
  width: 150px;
  float: left;
}

.footer {
  height: 40px;
  width: 1000px;
  background: #000000;
  clear: both;
}