

html{
  font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%
}

body{
  margin:0
}
a{
  background-color:transparent
}
a:active,a:hover{
  outline:0
}

h1{
  font-size:2em;margin:.67em 0
}
@media print{
  *,:after,:before{
      background:transparent!important;
      color:#000!important;
      box-shadow:none!important;
      text-shadow:none!important
  }
  .navbar{
      display:none
  }
  .btn>.caret,.dropup>.btn>.caret{
      border-top-color:#000!important
  }
  .label{
      border:1px solid #000
  }
  .table{
      border-collapse:collapse!important
  }
  .table td,.table th{
      background-color:#fff!important
  }
  .table-bordered td,.table-bordered th{
      border:1px solid #ddd!important
  }
}
html{
  font-size:10px;
  -webkit-tap-highlight-color:transparent
}
body{
  font-family:Roboto Mono,Helvetica,Arial,sans-serif;
  font-size:11px;
  line-height:1.78;
  color:#000;
  background-color:#fff
}
a{
  color:#001aff;
  text-decoration:none
}
a:focus,a:hover{
  color:#0012b3;
  text-decoration:underline
}
a:focus{
  outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px
}
figure{
  margin:0
}
img{
  vertical-align:middle
}
.img-responsive{
  display:block;
  width:100%;
  height:250px;
}
.img-rounded{
  border-radius:0
}
.img-circle{
  border-radius:50%
}
.h1,h1{
  font-size:70px
}
.h2,h2{
  font-size:30px
}
.h3,h3{
  font-size:20px
}
.h4,.h5,h4,h5{
  font-size:11px
}
.h6,h6{
  font-size:10px
}
p{
  margin:0 0 9.5px
}
.lead{
  margin-bottom:19px;
  font-size:12px;
  font-weight:300;
  line-height:1.4
}
.career-body{
  background-image: linear-gradient(#fff,rgba(91, 91, 91, 0.413));
}

.text-right{
  text-align:right
}
.text-center{
  text-align:center
}

.container{
  margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px
}
.container:after,.container:before{
  content:" ";
  display:table
}
.container:after{
  clear:both
}
@media (min-width:768px){
  .container{
      width:750px
  }
}
@media (min-width:992px){
  .container{
      width:970px
  }
}
@media (min-width:1200px){
  .container{
      width:1170px
  }
}
.container-fluid{
  margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px
}
.container-fluid:after,.container-fluid:before{
  content:" ";
  display:table
}
.container-fluid:after{
  clear:both
}
table{
  background-color:transparent
}
caption{
  padding-top:8px;
  padding-bottom:8px;
  color:#777
}
caption,th{
  text-align:left
}
.btn-primary.focus,.btn-primary:focus{
  color:#001aff;
  background-color:transparent;
  border-color:#000d80
}
.dropdown-toggle:focus{
  outline:0
}
.nav{
  margin-bottom:0;
  padding-left:0;
  list-style:none
}
.nav:after,.nav:before{
  content:" ";
  display:table
}
.nav:after{
  clear:both
}
.nav>li,.nav>li>a{
  position:relative;
  display:block
}
.nav>li>a{
  padding:10px 15px
}
.nav>li>a:focus,.nav>li>a:hover{
  text-decoration:none;
  background-color:transparent
}
.nav>li.disabled>a{
  color:#777
}
.nav>li.disabled>a:focus,.nav>li.disabled>a:hover{
  color:#777;
  text-decoration:none;
  background-color:transparent;
  cursor:not-allowed
}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{
  background-color:transparent;
  border-color:#001aff
}
.nav>li>a>img{
  max-width:none
}

@media (min-width:768px){
  .navbar-header{
      float:left
  }
}
.navbar-collapse{
  overflow-x:visible;
  padding-right:15px;
  padding-left:15px;
  border-top:1px solid transparent;
  box-shadow:inset 0 1px 0 hsla(0,0%,100%,.1);
  -webkit-overflow-scrolling:touch
}
.navbar-collapse:after,.navbar-collapse:before{
  content:" ";
  display:table
}
.navbar-collapse:after{
  clear:both
}
.navbar-collapse.in{
  overflow-y:auto
}
@media (min-width:768px){
  .navbar-collapse{
      width:auto;
      border-top:0;
      box-shadow:none
  }
  .navbar-collapse.collapse{
      display:block!important;
      height:auto!important;
      padding-bottom:0;
      overflow:visible!important
  }
  .navbar-collapse.in{
      overflow-y:visible
  }
  .navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse{
      padding-left:0;
      padding-right:0
  }
}
.navbar-fixed-bottom,.navbar-fixed-top{
  position:fixed;
  right:0;
  left:0;
  z-index:1030
}
@media (min-width:768px){
  .navbar-fixed-bottom,.navbar-fixed-top{
      border-radius:0
  }
}
.navbar-fixed-top{
  top:0;
  border-width:0 0 1px
}
.navbar-fixed-bottom{
  bottom:0;
  margin-bottom:0;
  border-width:1px 0 0
}
.navbar-toggle{
  position:relative;
  float:right;
  margin-right:15px;
  padding:9px 10px;
  margin-top:-7px;
  margin-bottom:-7px;
  background-color:transparent;
  background-image:none;
  border:1px solid transparent;
  border-radius:0
}
@media (min-width:768px){
  .navbar-toggle{
      display:none
  }
}
@media (min-width:768px){
  .navbar-nav{
      float:left;
      margin:0
  }
  .navbar-nav>li{
      float:left
  }
  .navbar-nav>li>a{
      padding-top:.5px;
      padding-bottom:.5px
  }
}
.navbar-form{
  margin:-10px -15px;
  padding:10px 15px;
  border-top:1px solid transparent;
  border-bottom:1px solid transparent;
  -webkit-box-shadow:inset 0 1px 0 hsla(0,0%,100%,.1),0 1px 0 hsla(0,0%,100%,.1);
  box-shadow:inset 0 1px 0 hsla(0,0%,100%,.1),0 1px 0 hsla(0,0%,100%,.1)
}

.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover{
  color:#000;
  background-color:transparent
}
.navbar-default .navbar-text{
  color:#777
}
.navbar-default .navbar-nav>li>a{
  color:#000
}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{
  color:#333;
  background-color:transparent
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{
  color:#555;
  background-color:transparent
}
.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:focus,.navbar-default .navbar-nav>.disabled>a:hover{
  color:#ccc;
  background-color:transparent
}
.navbar-default .navbar-toggle{
  border-color:#ddd
}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{
  background-color:#ddd
}
.navbar-default .navbar-toggle .icon-bar{
  background-color:#888
}
.navbar-default .navbar-collapse,.navbar-default .navbar-form{
  border-color:transparent
}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{
  background-color:transparent;
  color:#555
}
@media (max-width:767px){
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{
      color:#000
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
      color:#333;
      background-color:transparent
  }
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover{
      color:#555;
      background-color:transparent
  }
  .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover{
      color:#ccc;
      background-color:white
  }
}

@media (min-width:768px){
  .col-sm-2,.col-sm-4,.col-sm-8,.col-sm-12{
      float:left;
  }
  .col-sm-5{
    float: right;
  }
  .col-sm-2{
      width:17%
  }
  .col-sm-5{
    width:50%;
  }
  .col-sm-4{
      width:50%
  }
  .col-sm-8{
      width:67%
  }
  .col-sm-offset-2{
      margin-left:17%
  }
  }


.visible-print{
  display:none!important
}
#site-border-bottom,#site-border-left,#site-border-right,#site-border-top{
  background:#000;
  position:fixed;
  z-index:1
}
#site-border-left,#site-border-right{
  top:0;
  bottom:0;
  width:10px
}
#site-border-left{
  left:0
}
#site-border-right{
  right:0
}
#site-border-bottom,#site-border-top{
  left:0;
  right:0;
  height:10px
}
#site-border-top{
  top:0
}
#site-border-bottom{
  bottom:0
}
body{
  padding:10px;
  min-height:100vh
}
body.minimal{
  border:none;
  padding:0
}
.section-container{
  padding:60px 0
}
body,p{
  font-weight:300;
  letter-spacing:.8px;
  line-height:25px
}
p{
  margin:0 0 15px
}
@media (max-width:992px){
  .address-container{
      margin-top:20px
  }
}
.card-container{
  background-color:#fff;
  padding:2rem 5rem;
  position:relative;
  width:80%;
  margin:-10em auto 20px
}
@media (max-width:992px){
  .card-container{
      padding:2rem;
      margin-top:-5em
  }
}
@media (max-width:992px){
  .card-container.card-container-lg{
      width:95%;
      padding:2rem 3em;
      margin-top:-10em
  }
}

.carousel-control{
  top:50%;
  bottom:auto;
  width:50px;
  height:50px;
  margin-top:-25px;
  border:1px solid #000;
  background-color:#000;
  font-size:30px;
  color:#fff;
  line-height:44px;
  text-shadow:none;
  opacity:1
}

.navbar{
  border:none;
  min-height:inherit
}
@media (min-width:768px){
  .navbar{
      margin:10px
  }
}
.navbar-default .navbar-collapse,.navbar-inverse .navbar-collapse{
  margin:10px -5px;
  box-shadow:none
}
.navbar-default .navbar-collapse .navbar-nav,.navbar-inverse .navbar-collapse .navbar-nav{
  padding:20px
}
@media (min-width:768px){
  .navbar-default .navbar-collapse,.navbar-inverse .navbar-collapse{
      margin:0;
      padding:30px 0
  }
  .navbar-default .navbar-collapse .navbar-nav,.navbar-inverse .navbar-collapse .navbar-nav{
      padding:0
  }
}
.navbar-default .navbar-toggle,.navbar-inverse .navbar-toggle{
  padding:20px;
  margin:0;
  border:none;
  position:absolute;
  right:10px;
  top:10px;
  z-index:10;
  background-color:#fff
}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover{
  background-color:#fff
}
@media (min-width:768px){
  .navbar-inverse .navbar-nav>li>a{
      border-right:1px solid #fff
  }
}
.navbar-inverse .navbar-nav>li:last-of-type a{
  border-right:none
}
.navbar-inverse .navbar-toggle,.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover{
  background-color:#000
}
.navbar-default .navbar-nav{
  border-bottom:1px solid #eee
}
@media (min-width:768px){
  .navbar-default .navbar-nav{
      border:none
  }
}
@media (min-width:768px){
  .navbar-default .navbar-nav>li>a{
      border-right:1px solid #000
  }
}
.navbar-default .navbar-nav>li:last-of-type a{
  border-right:none
}
.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{
  background-color:#fff
}
@media (max-width:768px){
  .navbar-inverse{
      background-color:transparent
  }
  .navbar-inverse .navbar-collapse{
      background-color:#000
  }
  .navbar-default{
      background-color:transparent
  }
  .navbar-default .navbar-collapse{
      background-color:#fff
  }
}
.navbar-name{
  font-size: 60px;
  font-style: italic;

}
.nav>li>a{
  font-size:14px;
  font-weight:300;
  -webkit-transition:all .1s linear;
  -o-transition:all .1s linear;
  transition:all .1s linear
}
.nav>li>a.active,.nav>li>a:hover{
  font-weight:700
}
.nav.navbar-small>li>a{
  font-size:11px
}



html{
  font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%
}

body{
  margin:0
}

button,input,optgroup,select,textarea{
  color:inherit;
  font:inherit;
  margin:0
}
button{
  overflow:visible
}
button,select{
  text-transform:none;
}
button,html input[type=button],input[type=reset],input[type=submit]{
  cursor:pointer
}
button[disabled],html input[disabled]{
  cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
  border:0;
  padding:0
}

*,:after,:before{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
html{
  font-size:10px;
  -webkit-tap-highlight-color:transparent
}
body{
  font-family:Roboto Mono,Helvetica,Arial,sans-serif;
  font-size:11px;
  line-height:1.78;
  color:#000;
  background-color:#fff
}

a{
  color:#001aff;
  text-decoration:none
}

img{
  vertical-align:middle
}
.img-responsive{
  display:block;
  max-width:100%;
  height:auto
}


.img-circle{
  border-radius:50%
}
hr{
  margin-top:19px;
  margin-bottom:19px;
  border:0;
  border-top:1px solid #eee
}
p{
  margin:0 0 9.5px
}


.text-center{
  text-align:center
}


.container{
  margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px
}

.row{
  margin-left:-15px;
  margin-right:-15px
}
.row:after,.row:before{
  content:" ";
  display:table
}
.row:after{
  clear:both
}
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{
  position:relative;
  min-height:1px;
  padding-left:15px;
  padding-right:15px
}
@media (min-width:768px){
  .col-sm-2,.col-sm-4,.col-sm-8,.col-sm-12{
      float:left
  }
  .col-sm-2{
      width:17%
  }
  .col-sm-4{
      width:50%
  }
  .col-sm-5{
    width: 50%;
  }
  .col-sm-8{
      width:67%
  }
  .col-sm-offset-2{
      margin-left:17%
  }
  }




.btn{
  display:inline-block;
  margin-bottom:0;
  font-weight:400;
  text-align:center;
  vertical-align:middle;
  touch-action:manipulation;
  cursor:pointer;
  background-image:none;
  border:1px solid transparent;
  white-space:nowrap;
  padding:8px 14px;
  font-size:11px;
  line-height:1.78;
  border-radius:0;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.btn.focus,.btn:focus,.btn:hover{
  color:#000;
  text-decoration:none
}

.btn-default,.btn-default.active,.btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default.focus,.btn-default:active,.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover,.btn-default:focus,.btn-default:hover,.open>.btn-default.dropdown-toggle,.open>.btn-default.dropdown-toggle.focus,.open>.btn-default.dropdown-toggle:focus,.open>.btn-default.dropdown-toggle:hover{
  color:#000;
  background-color:transparent;
  border-color:#000
}

.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev{
  display:block
}


body{
  padding:10px;
  min-height:100vh
}

.section-container-spacer{
  margin-bottom:30px
}

.section-container{
  padding:60px 0
}
@media (max-width:768px){
  .section-container:first-of-type{
      padding-top:30px
  }
}

.btn-default:focus,.btn-default:hover{
  color:#fff;
  background-color:#000;
  border-color:#000
}
body,p{
  font-weight:300;
  letter-spacing:.8px;
  line-height:25px
}
p{
  margin:0 0 15px
}


.card-container{
  background-color:#fff;
  padding:2rem 5rem;
  position:relative;
  width:80%;
  margin:-10em auto 20px
}
@media (max-width:992px){
  .card-container{
      padding:2rem;
      margin-top:-5em
  }
}
@media (max-width:992px){
  .card-container.card-container-lg{
      width:95%;
      padding:2rem 3em;
      margin-top:-10em
  }
}
.black-image-project-hover{
  display:block
}
.black-image-project-hover img{
  -webkit-filter:contrast(200%) grayscale(100%);
  filter:contrast(200%) grayscale(100%);
  -webkit-transition:all .1s linear;
  -o-transition:all .1s linear;
  transition:all .1s linear
}
.black-image-project-hover img:hover{
  filter:none
}
@media (max-width:992px){
  .black-image-project-hover img{
      filter:none
  }
}
@media (max-width:768px){
  .projects-carousel .carousel-control{
      display:none
  }
  .projects-carousel .carousel-inner>.item{
      display:block
  }
}
.carousel-control{
  top:50%;
  bottom:auto;
  width:50px;
  height:50px;
  margin-top:-25px;
  border:1px solid #000;
  background-color:#000;
  font-size:30px;
  color:#fff;
  line-height:44px;
  text-shadow:none;
  opacity:1
}
.carousel-control:hover{
  color:#fff;
  background-color:#000;
  opacity:.8
}
.carousel-control.left,.carousel-control.right{
  background-image:none
}
.carousel-control.right{
  right:-25px
}
.carousel-control.left{
  left:-25px
}
@media (max-width:992px){
  .carousel-control.right{
      right:-12px
  }
  .carousel-control.left{
      left:-12px
  }
}

.nav-back{
  background-color: white;
}
.col-xs-12{
  float:left
}
.col-xs-12{
  width:100%;
}
.col-xs-pull-12{
  right:100%
}
.col-xs-push-12{
  left:100%
}
.col-xs-offset-12{
  margin-left:100%
}

*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{ 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
} 
.wrapper{
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper .table{
  background: #fff;
  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.price-area .inner-area .price{
  font-size: 34px;
  font-weight: 50;
  margin-left: 42%;
}
.table .package-name{
  width: 100%;
  height: 2px;
  margin: 35px 0;
  position: relative;
}
.table .package-name::before{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  font-weight: 500;
  background: #fff;
  padding: 0 15px;
  transform: translate(-50%, -50%);
}

.table .btn{
  width: 100%;
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
.table .btn button{
  width: 80%;
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.table .btn button:hover{
  border-radius: 5px;
}

.bi-weekly ::selection,.bi-weekly .price-area,.bi-weekly .inner-area{
  background: #ffd861;
}
.bi-weekly .btn button{
  border: 2px solid #ffd861;
  background: #fff;
  color: #ffd861;
}
.monthly ::selection, .monthly .price-area, .inner-area,  .btn button{
  background: #a26bfa;
}
.monthly .btn button{
  border: 2px solid #a26bfa;
  color: #a26bfa;
  background: #fff;
}
.yearly ::selection,.yearly .price-area,.yearly .inner-area{
  background: #43ef8b;
}
.yearly .btn button{
  border: 2px solid #43ef8b;
  color: #43ef8b;
  background: #fff;
}
.package-name{
  font-size: 16px;
}